* {
  box-sizing: border-box;
}

body {
  font: 14pt "-apple-system","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0;
}

p {
  margin: 5pt 0;
}

.paragraph-divider {
    display: block;
    height: 10pt;
}

.print-divider {
  display:block;
  margin-bottom: 28pt;
}

.double-divider {
  display:block;
  margin-bottom:60pt;
}

.name, .email, .phone {
  display: block;
  margin-top: 5pt;
}

p.text-section {
  margin: 20pt 0;
}

p.text-section:first-child {
  margin-top:0;
}

strong {
  color: #4180aa;
}

ul {
  margin: 5pt 0;
}

.form-only {
  display:none;
}