:root {
  --theme-primary-color: #4180aa;
}

* {
  box-sizing: border-box;
}

body {
  font: 15px "-apple-system","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #333333;
  background-color: #eaeaea;
  margin: 0;
}

form {
  padding: 5vmin;
  margin: 0 auto 30px auto;
  max-width: 700px;
  background-color: #fff;    
  border-top: #4180aa 5px solid;
  border-bottom: #4180aa 5px solid;
}

h1, h2, h3 {  
  font-weight: bold;
  line-height: 1.2em;  
  margin: 0;
  color: #4180aa;
}

h1 {
  font-size: 30px;
}

h2 {  
  font-size: 20px;
  font-style: italic;
}

label {
  display: block;
}

p {
  margin: 5px 0;
}

header {
  margin: 30px 10px;
}

section:not(:last-child) {
  margin-bottom: 25px;
}

.option {
  width: 50%;
  display: inline-block;
}

.button {
  cursor: pointer;
  margin: 10px 0;
}

.button .text {
  margin-left: 30px;
  display: block;
}

.button:hover .text {
  color: #4180aa;
}

.button input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.button .custom-radio {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  border-radius: 50%;
}

.button:hover input ~ .custom-radio {
  border: 1px solid #4180aa;
}

.button input:checked ~ .custom-radio {
  background-color: #4180aa;
}

.custom-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.button input:checked ~ .custom-radio:after {
  display: block;
}

.button .custom-radio:after {
  background: #fff;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 4px;
  left: 4px;
}

.header, .footer {
  text-align: center;
}

.footer {
  margin-top: 30px;
}

.details {
  margin-top: 5px;
}

.details.name {
  margin-top: -20px;
}

.details .label {
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-top: -3px;
}

.details > div:not(:last-child) {
  margin-bottom: 5px;
}

.details h2 {
  margin-bottom: 15px;
  font-style: initial;
}

.details label {
  margin-top: 10px;
  text-align: left;
}

input[type="text"], input[type="email"], input[type="number"] {
  width: 300px;
  margin: 5px 0;
}

.details div.w2 input {
  width: 49%;
}

.details div.w2 input:last-child {
  margin-left: 2%;
}

.details div.w1 input {
  width: 100%;
}

form > *:last-child {
  margin-bottom: 0;
}

p.clicked {
  font-weight: 600;
  font-size: 15px;
}

p.description {
  margin: 5px 0 0;    
  font-size: 12px;
  font-style: italic;
}

p.clicked {
  margin-top: 20px;
}

p.clicked-description {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.options label:last-child {
  margin-bottom: 10px;
}

textarea, *[contenteditable=true] {
  width: 100%;
  height: 100%;
}

.required .title:after {
  color: #fa4848;
  font-size: 10px;
  font-style: initial;
  vertical-align: super;
  content: " (Required)";
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, select:focus, *[contenteditable=true]:focus {
  border-color: #66afe9;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4180aa;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4180aa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4180aa;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select, *[contenteditable=true] {
  display: inline-block;
  padding: 6px 12px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: background-color border-color ease-in-out .25s, -moz-box-shadow ease-in-out .25s;
  -webkit-transition: background-color border-color ease-in-out .25s, -webkit-box-shadow ease-in-out .25s;
  transition: background-color border-color ease-in-out .25s, box-shadow ease-in-out .25s;
}

input[type="submit"], input[type="button"] {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: background-color ease-in-out .15s, border-color ease-in-out .15s;
  -webkit-transition: background-color ease-in-out .15s, border-color ease-in-out .15s;
  transition: background-color ease-in-out .15s, border-color ease-in-out .15s;
}

input[type="submit"]:not([disabled]):focus, input[type="button"]:not([disabled]):focus, input[type="submit"]:not([disabled]):active, input[type="button"]:not([disabled]):active, input[type="submit"]:not([disabled]):hover, input[type="button"]:not([disabled]):hover {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #e6e6e6;
  border-color: #adadad;
}

::selection {
  background: #4180aa;
  color: rgba(255, 255, 255, 0.9);
}

::-moz-selection {
  background: #4180aa;
  color: rgba(255, 255, 255, 0.9);
}

.logo-container {
  display:block;
  margin: 36.6px auto 0 auto;
}

.orataiao-logo div {
  display: inline-block;
}

.orataiao-logo svg {
  width: 60px;
  -moz-transition: -moz-transform 0.15s;
  -webkit-transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
}

.orataiao-logo:hover svg {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.orataiao-logo svg path {
  fill: #333;
  -moz-transition: fill 0.15s;
  -webkit-transition: fill 0.15s;
  transition: fill 0.15s;
}

.orataiao-logo:hover svg path {
  fill: #4180aa;
}

p.text-section {
  margin: 20px 0;
}

p.text-section:first-child {
  margin-top:0;
}

p.disclaimer, .switch {
  text-align: left;
}

strong {
  color: #4180aa;
}

.switch {
  position: relative;
  display: block;
  margin: 20px 0;
  cursor: pointer;
}

.switch p {
  font-style: italic;
}

.switch input {display:none;}

.switch .label {
  display: inline-block;
  margin-left: 50px;
}

.slider {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 23px;
  left: 0;
  right: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 23px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4180aa;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4180aa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

ul {
  margin: 5px 0;
}

a {
  color: #4180aa;
  text-decoration: none;
  outline: none;
}

hr {
  margin: 25px 0;
  height: 2px;
  border: none;
  background-color: #4180aa;
}

.finished {
  text-align: center;
  font-weight: bold;
  line-height: 1.2em; 
  font-size: 30px;
  color: #4180aa;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.orataiao-logo.rotating svg {
  width: 120px;
  animation-name: rotate; 
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.orataiao-logo.rotating svg path {
  fill: #4180aa;
}

.details {
  width: 300px;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
}

.error {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  width: 320px;
  margin-bottom: 20px 0 !important;
  padding: 10px;
}

.errorMsg {
  display: none;
}

.error .errorMsg {
  display: block;
  color: #a94442;
}

.error .label {
  display: none;
}

.homepage {
  font-size: 3.5vmin;
  text-align: center;
}

.homepage .link span {
  display: table-cell;
  vertical-align: middle;
}

.homepage .link, .homepage .or {
  margin: 5vmin;
}

.homepage.container {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

.homepage.container h1 {
  font-size: 5vmin !important;
  margin-bottom: 10vmin;
}

.homepage a .link {
  display: table;
  background-color: #fff;
  width: 80vmin;
  height: 10vmin;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  transform: translatez(0);
  -webkit-transition: -webkit-transform .25s, background-color .25s, color .25s;
  -moz-transition: -moz-transform .25s, background-color .25s, color .25s;
  transition: transform .25s, background-color .25s, color .25s;
}

.homepage a:hover .link {
  background-color: #4180aa;
  color: #fff;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}

.print-only {
  display:none!important;
}

.section-heading {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.header p {
  margin: 10px auto;
  max-width: 700px;
  padding: 0 3vmin;
  text-align: center;
}

.full *[contenteditable="true"] {
  max-height: 150px;
  overflow-y: auto;
}

u {
    text-decoration: inherit;
}

.submit-finished a img.hover-enlarge {
  width:100px!important;
  height:100px!important;
  margin:10px!important;
  -moz-transition: width .25s, height .25s, margin .25s;
  -webkit-transition: width .25s, height .25s, margin .25s;
  transition: width .25s, height .25s, margin .25s;
}

.submit-finished a:hover img.hover-enlarge {
  width:120px!important;
  height:120px!important;
  margin:0!important;
}

a.info-button {
  width: 7vh;
  display: block;
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}

a.info-button svg {
  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  transition: transform 0.15s;
}

a.info-button:hover svg {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
}

a.info-button svg path {
  fill: #333;
  -webkit-transition: fill 0.15s;
  -moz-transition: fill 0.15s;
  transition: fill 0.15s;
}

a.info-button:hover svg path {
  fill: #4180aa;
}

header.tab {
  margin: 5vmin auto 0 auto;
  max-width: 700px;
  height: 40px;
}

main.tab {
  padding: 5vmin;
  margin: 0 auto 30px auto;
  max-width: 700px;
  background-color: #fff;
  border-bottom: #4180aa 5px solid;
}

main.tab p {
  margin: 10px 0;
}

main.tab li, main.tab ul {
  margin: 10px 0;
}

main.tab .indented {
  margin-left: 20px;
}

main.tab h1 {
  margin-bottom: 20px;
}

main.tab .social-icons h1 {
  margin: 10px 0 5px;
}

main.tab .submit-now {
  margin: 40px 0;
  text-align: center;
}

main.tab .submit-now a {
  font-size: 2em;
  color: #fff;
  background-color: #4180aa;
  padding: 15px;
  padding: 15px 25px;
  text-decoration: none;
  border: 3px solid transparent;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

main.tab .submit-now a:hover {
  background-color: #fff;
  color: #4180aa;
  border: 3px solid #4180aa;
}

.react-tabs__tab-list {
  font-weight: bold;
  font-size: 1.15em;
  color: #4180aa;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

@media(max-width: 700px) {
  .react-tabs__tab-list {
    font-size: 2.75vw;
  }
}

.react-tabs__tab {
  width: 50%;    
  height: 40px;
  line-height: 25px;
  padding: 0.5em 1em;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  transition: color 250ms;
}

.react-tabs__tab + .tab-slide {
  width: 50%;
  height: 37px;
  background: #fff;    
  position: relative;
  transform: translateY(-40px);
  z-index: -1;
  border-bottom: #4180aa 5px solid;
  transition: margin-left 250ms;
}

.react-tabs__tab:not(.react-tabs__tab--selected) + .tab-slide {
  margin-left: 0;
}

.react-tabs__tab.react-tabs__tab--selected + .tab-slide {
  margin-left: 50%;
}

.react-tabs__tab--selected {
  cursor: default;
}

.react-tabs__tab:not(.react-tabs__tab--selected){
  cursor: pointer;
  color: #333;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  max-width: 33.33%;
  display: inline-block;
}

.social-icons a img {
  width: 100%;
  padding: 1vmin;
  margin: 0;
}

.social-icons a img.hover-enlarge {
  max-width:100px!important;
  max-height:100px!important;
  margin:10px;
  -moz-transition: max-width .25s, max-height .25s, margin .25s;
  -webkit-transition: max-width .25s, max-height .25s, margin .25s;
  transition: max-width .25s, max-height .25s, margin .25s;
}

.social-icons a:hover img.hover-enlarge {
  max-width:120px!important;
  max-height:120px!important;
  margin:0;
}

.react-tabs__tab-panel {
  transition: max-height 1s;    
  overflow-y: hidden;
}

.react-tabs__tab-panel:not(.react-tabs__tab-panel--selected) {
  max-height: 0;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  max-height: 1000px;
}

.closed-message {
  font-size:1.2em;
}